@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

.review-section {
  margin-top: 55px;
}

.wrapper {
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
  flex-direction: column;
  align-items: flex-end;
}

.review-block {
  box-shadow: 0px 0px 20px;
  color: rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  background: #fbf7f6;
}

.rewiew-head {
  display: flex;
}

.head-button {
  transition: 0.3s;
  padding-top: 17px;
  padding-bottom: 16px;
  border: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #371030;
  width: 445px;
  background: #f9f0ee;
}

.head-button-descr {
  border-top-left-radius: 15px;
}

.head-button-rev {
  border-top-right-radius: 15px;
}

.head-button-det {
  border-right: 1px solid #c4c4c4;
  border-left: 1px solid #c4c4c4;
}

.head-button:hover {
  cursor: pointer;
  color: #9a3c48;
  background: #ffb0ba;
}

.review-form {
  padding-left: 50px;
}

.review-form h3 {
  padding-top: 34px;
  padding-bottom: 15px;
  width: 495px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #371030;
}

.info-contact {
  margin-bottom: 30px;
}

.info-contact textarea {
  padding-bottom: 188px;
  padding-top: 18px;
  padding-left: 25px;
  width: 1240px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  opacity: 0.5;
  border: none;
  resize: none;
  background: #f9f0ee;
  border-radius: 5px;
}

.info-contact-second input {
  padding-top: 5px;
  padding-bottom: 6px;
  padding-left: 25px;
  background: #f9f0ee;
  border-radius: 5px;
  width: 386px;
  border: none;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  opacity: 0.5;
  margin-right: 37px;
}

.button-send {
  height: 63px;
  width: 250px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #9a3c48;
  background: #ffb0ba;
  box-shadow: 3px 3px 0px 3px #de8e98;
  border-radius: 100px;
  border: none;
}

.button-send:hover {
  cursor: pointer;
  background-color: #fc9fab;
}

.checkbox-first {
  padding-left: 37px;
  background: #f9f0ee;
  border-radius: 5px;
}

.checkbox-content {
  width: 12px;
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  line-height: 30px;
  color: #9a3c48;
  padding-left: 37px;
}

.info-addit {
  align-items: center;
  display: flex;
  margin-top: 30px;
}

.info-addit p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 30px;
  color: #000000;
  opacity: 0.5;
  padding-left: 22px;
}

.first-review {
  width: 1240px;
  margin-bottom: 30px;
}

.first-review h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #371030;
}

.first-message-review {
  padding-left: 25px;
  background: #f9f0ee;
  border-radius: 5px;
}

.message-title {
  padding-right: 25px;
  display: flex;
}

.message-title h3 {
  margin-right: 20px;
  width: 75px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #9a3c48;
}

.message-title p {
  padding-top: 20px;

  width: 64px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 30px;
  color: #000000;
  opacity: 0.5;
  display: flex;
  align-items: center;
}

.message-text p {
  padding-right: 25px;
  padding-bottom: 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: #371030;
}

.second-review {
  width: 1240px;
  margin-bottom: 30px;
  padding-left: 25px;
  background: #f9f0ee;
  border-radius: 5px;
}
