@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Cardo:ital@1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  outline: none;
}

.header {
  z-index: 3;
  position: relative;
}

.wrapper-main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.block-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #babbc5;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  position: relative;
  background-image: url("../assets/table.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main:before {
  position: absolute;
  content: "";
  width: 100%;
  background-color: #252b49;
  opacity: 0.8;
  height: 100%;
}

.nav-list {
  display: flex;
}

.nav-list__item {
  position: relative;
  padding: 28px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s;
}

.nav-list__item a {
  color: #ffffff;
}

.nav-list__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
  display: block;
  height: 3px;
  width: 0;
  background: #babbc5;
  transition: 0.3s;
}

.nav-list__item:hover::after {
  width: 100%;
  left: 0;
  right: 0;
}

.info-banner-block {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-banner-block h1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 75px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
  padding-top: 131px;
}

.info-banner-block p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
  padding-top: 31px;
}

.banner-button {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background: #ff4343;
  color: #ffffff;
  width: 369px;
  height: 78px;
  align-content: center;
  justify-content: center;
  margin-top: 82px;
  margin-bottom: 120px;
  transition: 0.3s;
}

.banner-button:hover {
  border-color: #e71414;
  background-color: #e71414;
  cursor: pointer;
}

.information-block {
  display: flex;

  flex-direction: column;
  padding-top: 116px;
  padding-bottom: 134px;
}

.information-block h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  padding-top: 41px;
  color: #2d3033;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.information-block p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 21px;
  color: #6c7279;
}

.first-information-block {
  display: flex;
  gap: 30px;
}

.first-block-content {
  display: flex;
  width: 33%;
  flex-direction: column;
}

.second-information-block {
  padding-top: 100px;
  display: flex;
  gap: 30px;
}

.second-block-content {
  display: flex;
  width: 33%;
  flex-direction: column;
}

.block-img {
  display: flex;
  justify-content: center;
}

.block-design-images {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 114px;
}

.project-images {
  width: 25%;
  position: relative;
  transition: 0.3s;
}

.project-images img {
  width: 100%;
  height: 100%;
}

.project-text {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ff4343cc;
}

.project-text h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 21px;
  color: #ffffff;
}

.project-text p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.project-images:hover .project-text {
  opacity: 1;
}

.block-team-info {
  display: flex;
  gap: 30px;
  padding-bottom: 114px;
}

.team-info {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.team-info h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-transform: capitalize;

  color: #2d3033;
  padding-top: 30px;
}

.team-info h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-transform: uppercase;

  color: #ff4343;
  padding-top: 5px;
  flex-grow: 1;
}

.team-info p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;

  color: #6c7279;
  padding-top: 18px;
}

.team-photo img {
  width: 100%;
}

.team-social-network {
  padding-top: 38px;
  display: flex;
  gap: 6px;
}

.team-social-network a {
  display: block;
}

.team-social-network img {
  transition: 0.3s;
}

.team-social-network img:hover {
  transform: scale(1.2);
}

.block-design-main {
  display: flex !important;
  transition: 0.3s;
}

.block-design {
  display: flex !important;
  width: 100%;
  background-color: #5c3249;
}

.slider-item {
  transition: 0.3s;
}

.slick-dots {
  bottom: -60px !important;
}

.slick-dots li {
  border-radius: 50px;
  border: 1px solid #7e5d6f;
  width: 14px;
  height: 14px;
  margin: 0 12.5px !important;
}

.slick-dots li.slick-active {
  background: #7e5d6f;
}

.slick-dots li button {
  display: none !important;
}

.slick-prev,
.slick-next {
  display: none !important;
}

.block-designer-image {
  width: 50%;
}

.block-designer-image img {
  width: 100%;
  height: 100%;
}

.block-designer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 129px;

  max-width: 50%;
}

.block-designer-info h2 {
  font-family: "Cardo";
  font-style: italic;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  max-width: 471px;
  color: #ffffff;
}

.block-designer-info p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  padding-top: 32px;
  color: #ffffff;
}

.block-download-info {
  padding-top: 160px;
  padding-bottom: 114px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block-download-info h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
  padding-top: 24px;
  padding-bottom: 30px;
}

.block-download-info p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #000000;
  padding-bottom: 50px;
}

.download-button {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  background: #ff4343;
  color: #ffffff;
  width: 369px;
  height: 78px;
  transition: 0.3s;
}

.download-button:hover {
  border-color: #e71414;
  background-color: #e71414;
  cursor: pointer;
}

.footer {
  background: #353c65;
}

.block-footer-info {
  display: flex;
  padding-top: 71px;
  padding-bottom: 67px;
  gap: 30px;
}

.block-location {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
}

.block-location h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

.block-location p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;

  color: #ffffff;
  padding-top: 29px;
}

.block-share {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
}

.block-share h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

.block-share-icons {
  display: flex;
  gap: 27px;
  padding-top: 49px;
}

.share-icons img {
  transition: 0.3s;
}

.share-icons img:hover {
  transform: scale(1.2);
}

.block-activebox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
}

.block-activebox h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

.block-activebox p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;

  color: #ffffff;
  padding-top: 29px;
}

.block-footer-copyright {
  display: flex;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 24px;
  background: #2c3154;
}

.block-footer-copyright p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  max-width: 370px;
  color: #808080;
}

@media (max-width: 1024px) {
  .img-header img {
    width: 85%;
  }

  .nav-list__item {
    font-size: 12px;
    line-height: 14px;
  }

  .info-banner-block h1 {
    font-size: 48px;
    line-height: 56px;
    padding-top: 157px;
    width: 90%;
  }

  .info-banner-block p {
    font-size: 18px;
    line-height: 21px;
    padding-top: 62px;
    width: 78%;
  }

  .banner-button {
    margin-top: 92px;
    margin-bottom: 126px;
    width: 314px;
    height: 80px;
  }

  .information-block {
    padding: 88px 0 80px;
  }

  .information-block h2 {
    font-size: 18px;
    line-height: 21px;
  }

  .information-block p {
    font-size: 14px;
    line-height: 16px;
  }

  .block-img img {
    width: 30%;
  }

  .block-design-images {
    padding-bottom: 78px;
  }

  .block-team-info {
    gap: 25px;
    padding-bottom: 78px;
  }

  .team-info h2 {
    font-size: 18px;
    line-height: 21px;
    padding-top: 25px;
  }

  .team-info h3 {
    font-size: 14px;
    line-height: 16px;
  }

  .team-info p {
    font-size: 14px;
    line-height: 16px;
    padding-top: 25px;
  }

  .team-social-network {
    padding-top: 39px;
  }

  .slick-dots li {
    border-radius: 50px;
    border: 1px solid #7e5d6f;
    width: 9.5px !important;
    height: 9.5px !important;
    margin: 0 25.5px !important;
  }

  .block-designer-info {
    padding: 47px 104px 110px 88px;
  }

  .block-designer-info h2 {
    font-size: 24px;
    line-height: 32px;
  }

  .block-designer-info p {
    font-size: 12px;
    line-height: 14px;
    padding-top: 25px;
  }

  .block-download-info {
    padding: 115px 0 78px;
  }

  .block-download-info h2 {
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 25px;
  }

  .block-download-info p {
    font-size: 14px;
    line-height: 16px;
  }

  .download-button {
    font-size: 18px;
    line-height: 21px;
    width: 313px;
    height: 80px;
  }

  .block-footer-info {
    padding: 47px 0 41px;
    gap: 20px;
  }

  .block-location h2 {
    font-size: 14px;
    line-height: 16px;
  }

  .block-location p {
    font-size: 14px;
    line-height: 16px;
    padding-top: 18px;
  }

  .block-share h2 {
    font-size: 14px;
    line-height: 16px;
  }

  .block-share-icons {
    padding-top: 33px;
    gap: 23px;
  }

  .block-activebox h2 {
    font-size: 14px;
    line-height: 16px;
  }

  .block-activebox p {
    font-size: 14px;
    line-height: 16px;
    padding-top: 16px;
  }

  .block-footer-copyright {
    padding: 14px 0 14px;
  }

  .block-footer-copyright p {
    font-size: 14px;
    line-height: 16px;
    width: 30%;
  }
}

@media (max-width: 960px) {
  .nav-list__item {
    padding: 21px;
  }

  .block-designer-info {
    padding: 30px 70px 65px 70px;
  }

  .block-designer-image {
    width: 100%;
  }
}

@media (max-width: 768px) {
  body.lock {
    overflow: hidden;
  }

  .burger-menu {
    display: flex;
    flex-direction: column;
    margin: 19px 30px;
  }

  .burger-btn-act {
    width: 35px;
    height: 3px;
    background: #ffffff;
    margin-top: 7px;
    z-index: 4;
    transition: 0.3s;
  }

  .burger-menu:active .burger-btn-act:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
    opacity: 1;
  }

  .burger-menu:active .burger-btn-act:nth-child(2) {
    opacity: 0;
  }

  .burger-menu:active .burger-btn-act:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    opacity: 1;
  }

  .nav-list {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 4;
    height: 100%;
    background: url(../assets/table2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    flex-direction: column;
    margin-top: 60px;
    position: fixed;
    transform: translate(100%);
    transition: 0.3s;
  }

  .nav-list.active {
    margin-top: 45px;
    align-items: center;
    top: 0;
    flex-direction: column;
    transform: translate(0);
  }

  .nav-list__item {
    display: flex;
    justify-content: center;
    list-style-type: none;
  }

  .block-header {
    border-bottom: none;
  }

  .block-design {
    display: flex;
    flex-direction: column;
  }

  .block-designer-info {
    max-width: 100%;
    display: flex;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 80px;
  }
}

@media (max-width: 660px) {
  .project-images {
    width: 50%;
  }

  .block-team-info {
    display: block;
    padding-bottom: 34px;
  }

  .team-info {
    width: 100%;
  }

  .team-info p {
    padding-top: 38px;
  }

  .team-social-network {
    padding-top: 55px;
    padding-bottom: 49px;
  }

  .information-block {
    padding: 68px 0 60px;
  }

  .first-information-block {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }

  .first-block-content {
    width: 100%;
  }

  .second-information-block {
    padding-top: 30px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }

  .second-block-content {
    width: 100%;
  }

  .block-img img {
    width: 15%;
  }

  .information-block h2 {
    padding-top: 30px;
  }

  .block-footer-info {
    gap: 15px;
  }

  .block-share-icons {
    gap: 10px;
  }

  .block-footer-copyright p {
    width: 70%;
  }
}

@media (max-width: 450px) {
  .img-header img {
    width: 70%;
  }

  .nav-list__item {
    padding: 25px;
    font-size: 13px;
    line-height: 15px;
  }

  .nav-list.active {
    display: flex;
    align-items: flex-start;
    margin-top: 70px;
  }

  .burger-menu {
    margin: 15px 5px;
  }

  .burger-btn-act {
    width: 24px;
  }

  .info-banner-block h1 {
    font-size: 36px;
    line-height: 42px;
    padding-top: 70px;
  }

  .info-banner-block p {
    font-size: 14px;
    line-height: 16px;
    padding-top: 33px;
    width: 100%;
  }

  .banner-button {
    margin-top: 51px;
    margin-bottom: 52px;
    width: 279px;
    height: 58px;
  }

  .information-block {
    padding-top: 57px;
    padding-bottom: 35px;
  }

  .block-design-images {
    padding-bottom: 35px;
  }

  .block-team-info {
    padding-bottom: 1px;
  }

  .slick-dots li {
    margin: 0 20.5px !important;
  }

  .block-designer-info {
    display: flex;
    padding-top: 25px;
    padding-bottom: 95px;

    align-items: center;
  }

  .block-download-info {
    padding-top: 70px;
    padding-bottom: 45px;
  }

  .block-download-info p {
    padding-bottom: 13px;
  }

  .download-button {
    width: 279px;
    height: 78px;
  }

  .block-footer-info {
    gap: 65px;
    padding-top: 34px;
    display: flex;
    flex-direction: column;
  }

  .block-location {
    width: 100%;
  }
  .block-location p {
    padding-top: 34px;
  }

  .block-share {
    width: 100%;
  }
  .block-share-icons {
    padding-top: 37px;
  }

  .block-share-icons {
    gap: 17px;
  }

  .block-activebox {
    width: 100%;
  }

  .block-activebox p {
    padding-top: 39px;
  }

  .block-footer-copyright {
    padding-top: 30px;
    padding-bottom: 28px;
  }
}
